{% extends 'base.html' %}
{% block title %} Profile Update {% endblock title %}
{% block content %}
<div class="container col-md-6">
    <form action="" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
       
        <div class="mb-3">
            <label for="" class="form-label">Email address</label>
            {{user_form.email}}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <!-- first name-->
        <div class="mb-3">
            <label for="" class="form-label">First Name</label>
            {{user_form.first_name}}
        </div>
        <!-- Last name -->
        <div class="mb-3">
            <label for="" class="form-label">First Name</label>
            {{user_form.last_name}}
        </div>
        
  

        {{user_form.as_p}}
        {{profile_form.as_p}}
        <div class="d-grid">
            <input type="submit" value="Update" class="btn btn-primary btn-lg">
        </div>
    </form>
</div>
{% endblock content %}