{% extends 'base.html' %}
{% block title %}  Django | Sign Up  {% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto">
	<div class="col-sm-12 col-md-4 col-lg-5 mx-auto">
		<p class="text-center text-slate-600 text-9xl">DJ</p>
		<p class="text-4xl text-center text-slate-600">Sign Up Now</p>
		<form action="" method="POST" class="shadow-lg bg-white rounded-lg py-4 px-4" novalidate>
			{% csrf_token %}
			<div class="grid grid-cols-2 gap-2 mb-3">
				<div class="form-floating col">
					{{form.first_name}}
					{{form.errors.first_name}}
				</div>
				<div class="form-floating col">
					{{form.last_name}}
					{{form.errors.last_name}}
				</div>
			</div>
			<!-- second row-->
			<div class="row mb-3">
				<div class="form-floating col">
					{{form.username}}
					<p class="text-danger mb-0">{{form.errors.username | striptags}}</p>
				</div>
			</div>
			<div class="row mb-3">   
				<div class="form-floating col">
					{{form.email}}
					{{form.errors.email}}
				</div>
			</div>
			<!-- Third row-->
			<div class="row mb-3">
				<div class="form-floating col">
					{{form.password1}}
				</div>
			</div>
			<div class="row mb-3">	
				<div class="form-floating col">
					{{form.password2}}
				</div>
				<i class="fas fa-alert"></i>
				<p class="text-danger mb-0">{{form.errors.password2 | striptags}}</p>
			</div>
			<input type="submit" class="bg-emerald-500 w-full rounded-pill p-3 mb-3" value="Signup &#10230;">
			
			<div class="text-center">
				<small class="h6">Already have an account? <a href="{% url 'signin' %}" class="text-blue-600">Sign In</a></small>
			</div>
		</form>
	</div>
</div>
<div class="custom-shape-divider-bottom-1666456426">
	<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
		<path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
	</svg>
</div>
{% endblock content %}
