<nav class="navbar navbar-expand-lg navbar-white bg-white py-3 shadow">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home-page' %}">Django</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span>Welcome, {{user.username}}</span>
					</a>
					<ul class="dropdown-menu mt-4 shadow border-0 py-0" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item py-3" href="{% url 'employee-profile' %}">Profile</a></li>
						<li><a class="dropdown-item py-3" href="{% url 'password_reset' %}">Change Password</a></li>
						<li><a class="dropdown-item py-3" href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>
			<!--Notification box-->
			<form class="d-flex me-4">
				<button type="button" class="btn btn-primary position-relative">
					<i class="fa fa-bell"></i>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							99+
						<span class="visually-hidden">unread messages</span>
					</span>
				</button>
			</form>
		</div>
	</div>
</nav>
<!-- off canvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div>
			Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
		</div>
		<div class="dropdown mt-3">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
				Dropdown button
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</div>
	</div>
</div>
