{% extends 'base.html' %}
{% block title %}
	Emplyee Management-Password Reset
{% endblock title %}
{% block content %}
<div class="container col-4 py-5">
	{% if user.is_authenticated %}
	<p class="text-end"><a href="{% url 'home-page' %}" class="text-decoration-none text-dark h1">&times;</a></p>
	{% else %}
	<p class="text-end"><a href="{% url 'login' %}" class="text-decoration-none text-dark h1">&times;</a></p>
	{% endif %}
	<p class="h4 mb-3 py-2">
		Password Reset
	</p>
	<p class="text-muted">Please enter your registered email id with us in order to get password reset link.</p>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="form-group mb-3">
			<input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Enter Your Email" class="form-control form-control-lg">
		</div>
		<div class="d-grid">
			<input type="submit" value="Reset Password" class="btn btn-primary btn-lg">
		</div>
	</form>
</div>
{% endblock content %}
