{% extends 'base.html' %}
{% block title %}
	Emplyee Management-Password Reset
{% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto py-5 px-4">
	<div class="flex justify-end items-center mb-2">
		{% if user.is_authenticated %}
		<a href="{% url 'home-page' %}" class="text-3xl">&times;</a>
		{% else %}
		<a href="{% url 'signin' %}" class="text-3xl">&times;</a>
		{% endif %}
	</div>
	<p class="text-3xl mb-2">Enter your registered email.</p>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="mb-3">
			<input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Enter Your Email" class="px-2 py-2 w-full border border-indigo-600 focus:outline-none focus:ring ring-indigo-600 rounded">
		</div>
		
		<input type="submit" value="Reset Password" class="w-full bg-indigo-600 py-4 px-4 cursor-pointer">
		
	</form>
</div>
{% endblock content %}
