{% extends "base.html" %}
{% block header %}
{% include 'employee/navbar.html' %}
{% endblock header %}
<!-- off canvas button -->
{% block canvas %}
{% include 'employee/offcanvas_bt.html' %}
{% endblock canvas %}
<!-- content goes here -->
{% block content %}
<div class="max-w-lg mx-auto mt-3 rounded  py-4 px-4">
	<form action="" method="POST" class="needs-validation" novalidate>
		{% csrf_token %}
		<div class="grid grid-cols-2 gap-2">
			<div class="col">
				<div class="form-group my-2">
					{{form.first_name}}
				</div>
			</div>
			<div class="col">
				<div class="form-group my-2">
					{{form.last_name}}
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 gap-2">
			<div class="col">
				<div class="form-group my-2">
					{{form.email}}
				</div>
			</div>
			<div class="col">
				<div class="form-group my-2">
					{{form.phoneno}}
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1">
			<div class="col">
				<div class="form-group my-2">
					{{form.gender}}
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 gap-2">
			<div class="col">
				<div class="form-group my-2">
					{{form.country}}
				</div>
			</div>
			<div class="col">
				<div class="form-group my-2">
					{{form.state}}
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 gap-2">
			<div class="col">
				<div class="form-group my-2">
					{{form.birthdate}}
				</div>
			</div>
			<div class="col">
				<div class="form-group my-2">
					{{form.designation}}
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1">
			<div class="col">
				<div class="form-group my-2">
					{{form.address}}
				</div>
			</div>
		</div>
		<div class="flex gap-2">
			<input type="submit" value="Update" class="bg-indigo-600 text-white p-3 cursor-pointer">
			<a href="{% url 'home-page' %}" class="bg-red-600 text-white p-3">Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}
